@model ProyectoSocioEconomico.WebUI.ViewModels.CategorieViewModel

<a class="categoria">
    <div class="categoria__circle">
        <picture>
            <img src="@Model.IconUrl" alt="" />
        </picture>
    </div>
    <h2 class="categoria__title">@Model.Title</h2>
    <p class="categoria__casos">@Model.Casos</p>
</a>
