@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
dotnet ef database update --project ProyectoSocioEconomico.Infrastructure --startup-project ProyectoSocioEconomico.WebUI
dotnet ef database update --verbose --project Proyectosocioeconomico.Infrastructure --startup-project Proyectosocioeconomico.WebUI
dotnet ef database drop --project ProyectoSocioEconomico.Infrastructure --startup-project ProyectoSocioEconomico.WebUI

dotnet ef database update --verbose --project TuProyecto.Infrastructure --startup-project TuProyecto.API
